@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model FOS_L1_201945D.Models.ViewModels.searchFruitsByCat

}

<h3>Search Fruit</h3>
<form asp-controller="Fruit" asp-action="searchFruits" method="post">
    <p>
        <label class="label">Category: </label>
        <input type="text" name="category" id="category" />

        <br />
        <br />

        <input type="submit" name="search" value="Search Category" />
        <input type="reset" name="reset" value="Reset" />
    </p>

</form>


<div class="tg-wrap">
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-0pky">Id</th>
                <th class="tg-0pky">Name</th>
                <th class="tg-0lax">Category</th>
                <th class="tg-0pky">Country</th>
                <th class="tg-0pky">Price</th>
                <th class="tg-0lax">Unit Of Measurement</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var g in Model.CategoryList)
            {
                @foreach (var b in @g.Fruit)
                {
                    <tr>
                        <td class="tg-0pky">@b.Id</td>
                        <td class="tg-0pky">@b.Name</td>
                        <td class="tg-0lax">@b.FruitCategory.Name</td>
                        <td class="tg-0lax">@b.Country</td>
                        <td class="tg-0lax">@b.Price</td>
                        <td class="tg-0lax">@b.UnitOfMeasurement</td>
                    </tr>
                }

            }


        </tbody>
    </table>
</div>